# Mainnet env
CHAIN_ID=1
ETHEREUM_MAINNET_RPC_URL=https://
BLOCK_NUMBER=
GAUGE_CONTROLLER=0x
GAUGE=0x
ACCOUNT=0x
WEIGHT_MAPPING_SLOT=0x
LAST_VOTE_MAPPING_SLOT=0x
USER_SLOPE_MAPPING_SLOT=0x
NETWORK_PRIVATE_KEY=